/* Styles to begin with */
html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 500;
  color: #2e2e2e;
}

header,
footer,
.main-container {
  position: absolute;
  right: 0;
  left: 0;
}

header {
  height: 150px;
  top: 0;
  background-color: #4c5eab;
}

footer {
  height: 60px;
  bottom: 0;
  background-color: #4c5eab;
}

.main-container {
  top: 150px;
  bottom: 60px;
  overflow: auto;
  width: 100%;
}

/* header's elements styles */

.header-img {
  position: inherit;
  left: 63px;
  height: 112px;
}

header img {
  height: 100px;
  width: 98px;
  border-radius: 50%;
  padding: 25px 0;
}

h1 {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 800;
  color: #ffffff;
}

.introduction {
  height: 60px;
  width: 300px;
  position: inherit;
  left: 170px;
  padding: 45px 10px;
  color: #ffffff;
}

.contacts {
  height: 78px;
  width: 167px;
  position: inherit;
  right: 91px;
  padding: 36px 0;
  color: #ffffff;
}

.contacts ul {
  font-size: 13px;
  line-height: 2;
  font-weight: 400;
}

.contacts ul a {
  color: #ffffff;
  padding-left: 15px;
}

/* aside styles */

aside {
  float: left;
  width: 30%;
  overflow: hidden;
  background-color: #f7f9fa;
  padding-bottom: 50%;
  margin-bottom: -50%;
}

.content-wrapper {
  margin-left: 58px;
  padding-right: 20px;
}

h2 {
  font-size: 21px;
  font-weight: 600;
  letter-spacing: -0.6px;
  display: inline-block;
}

.section-title {
  height: 40px;
  margin-top: 25px;
  padding-bottom: 15px;
}

.section-img {
  height: 37px;
  width: 37px;
  background-color: #4c5eab;
  border-radius: 50%;
  float: left;
  margin-right: 16px;
  text-align: center;
}

.section-img i {
  color: #ffffff;
  z-index: 1;
  margin-top: 10px;
}

.interests div:nth-child(2) div {
  display: inline-block;
}

.hobby {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 6px solid #4c5eab;
  background-color: unset;
  text-align: center;
  margin-bottom: 8px;
}

.interests-box {
  width: 50px;
  margin-top: 3px;
  padding-right: 22px;
  text-align: center;
}

.interests-box p {
  font-weight: 700;
}

.hobby i {
  color: #4c5eab;
  margin-top: 10px;
}

.reference-list li {
  position: relative;
  margin: 0;
  padding-bottom: 1em;
  padding-left: 29px;
  line-height: 1.4;
}

.reference-list li:first-child span:before,
.reference-list li:nth-child(2) span:before {
  background-color: rgb(214, 214, 214);
  width: 1px;
  content: "";
  position: absolute;
  top: 31px;
  bottom: -35px;
  left: 8px;
}

.reference-list li::after {
  content: "";
  position: absolute;
  left: 1px;
  top: 24px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #ffffff;
  border: 5px solid #999696;
}

span:nth-child(2) {
  color: #4c5eab;
  font-weight: 600;
}

.awards div {
  font-weight: 600;
  line-height: 1.7;
}
/* section styles */

section {
  float: left;
  width: 70%;
  overflow: hidden;
}

.section-container {
  margin-left: 45px;
  width: 100%;
}

.section-container h2 {
  margin-left: 15px;
}

.srv-container {
  box-sizing: border-box;
  padding: 15px 15px;
  margin-left: 40px;
}

.srv-container::after {
  content: "";
  clear: both;
  display: block;
}

.service-box {
  float: left;
  width: 326px;
  margin: 0 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px transparent #dde0f1;
}

h3 {
  font-weight: bold;
  margin-bottom: 5px;
}

.service-box:hover {
  box-shadow: 0 4px 8px 0 rgba(19, 39, 80, 0.767),
    0 6px 20px 0 rgba(19, 39, 80, 0.767);
}

.srv-container img:hover {
  opacity: 0.7;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}

.box-description {
  padding: 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}

/* footer's elements styles */

.footer-info {
  height: 30px;
  padding: 19px 0 0;
  padding-left: 60px;
}

.footer-info p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}

.footer-info a {
  color: #ffffff;
  font-weight: 700;
}

.footer-info a:hover {
  color: darkblue;
}
